<!DOCTYPE html>
<html>
  <head>
    <title>Administrador - ¿Qué comemos?</title>
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <link rel="icon" href="/images/logo.png"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/Header.css' />
    <link rel='stylesheet' href='/stylesheets/Footer.css' />
    
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Licorice&display=swap" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap" rel="stylesheet"/>
  </head>
  <body>  
      <header>
        <div class="holder">
            <div class="logo">
                <img src="/images/logo.png" width="100" alt="logo"/>
                <h1>¿Qué comemos?</h1>
            </div>
        </div>
      </header>

      {{{body}}}

    <footer>
            <p>Diseñado por Abril Basteiro, 2021</p>
    </footer>
  </body>
</html>
