<div class="loginPage">
    <h2>Iniciar sesión</h2>
    <form action="/admin/login" method="post" class="loginForm">
        <label for="usuario">Nombre de usuario</label>
        <input type="text" id="usuario" name="usuario">

        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password">

        <button type="submit" class="loginBtn">Ingresar</button>
    </form>

    {{#if error}}
        <p>Usuario y/o contraseña incorrectos</p>
    {{/if}}
</div>