.receta{
    border: 1px solid #fff;
    width: 27%;
    overflow: hidden;
    background-color: #D3DEE7;
    float: left;
    margin: 1em;
}

.receta img{
    width: 100%;
   
}
@supports(object-fit: cover){
    .receta img{
        height: 100%;
        object-fit: cover;
        /* object-position: center center; */
    }
}

.imagenReceta{
    border-bottom: 1px solid #fff;
    height: 7em;
}
.tituloReceta{
    border-bottom: 1px solid #fff;
    padding: .5em 1em;
    background-color: #A2B8C8;
    text-align: center;
}

.ingredientesReceta{
    padding: .8em;
    font-size: 1.2em;
}

.receta h3{
    margin: 0;
    color: #fff;
    font-weight: 400;
}

.receta h4,
.ingredientesReceta h4{
    margin: 0;
    padding: .5em;
    font-size: .9em;
}

.ingredientesReceta ul li{
    font-size: .7em;
    padding: 0 1em;
    list-style: none;
}

.pasosReceta{
    border-top: 1px solid #fff;
    padding: .8em;
}

.pasosReceta h4{
    font-size: 1.1em;
}

.pasosReceta p{
    font-size: .8em;
    margin: .5em 0 .7em .5em;
    
}
