footer{
    background-color: rgb(229, 219, 192);
    padding: 3em 0;
    margin-top: 2em;
    height: 20px;
    clear: both;
}

footer p{
    font-size: .7em;
    font-style: italic;
    text-align: center;
}


