header{
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.493), rgba(0, 0, 0, 0.11)), url('../../../img/portada.png');
    padding: 1em 0;
}

header h1{
    font-size: 4em;
    font-family: 'Licorice', cursive;
    bottom: .5em;
    color: #47423a;
    margin-left: .5em;
}

.logo{
    display: flex;
    align-items: center;
}